/*!
 * LESS version av stilen kmom04.
 *
 *
 * Denna variant av kmom04 temat kallas för colorful med starka färger och hög kontrast mellan de.
 */

/* Frequently used colors */
@mainBackground:        #ff6b6b;
@gradientOne:           #ee5253;
@gradientTwo:           #341f97;
@gradientThree:         #2e86de;
@linkColor:             #54a0ff;
@footerColor:           #1dd1a1;
@imgFilter:             none;
@rmButton:              #1dd1a1;
@innerwrapColor:        #222f3e;
@navColor:              #363636;

.inner-wrap-main a,
.inner-wrap-main a:visited,
.breadcrumb-list a,
.breadcrumb-list a:visited {
    color: #363636;
}

/**
  * Normalize and reset the style.
  */
 @import "normalize.css/normalize.less";
 /**
  * Google fonts
  *

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
/**
 * Internal self contained modules, save in directory module/.
 */
@import "module/stylechooser.less";  // Just an example module


/**
*import vertical grid
**/
@import "@desinax/vertical-grid/less/grid.less";

/**
 * Base style to affect HTML elements on a general scale.
 */

/**
 * Import the typographic grid.
 */
@import "@desinax/typographic-grid/less/typography-font-families.less";
@import "@desinax/typographic-grid/less/typography-defaults.less";


/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
@import "base/basev3.less";
@import "layout/layoutv3.less";
@import "layout/responsive.less";

/**
 * A responsive menu.
 */
@import "@desinax/responsive-menu/less/responsive-menu.less";
@import "@desinax/responsive-menu/less/media-queries.less";

/**
 * Font Awesome.
 */
@import "@fortawesome/fontawesome-free/less/fontawesome.less";
@import "@fortawesome/fontawesome-free/less/solid.less";
@import "@fortawesome/fontawesome-free/less/brands.less";



/**
 * My own settings, not currently in their own module.
 */

 @import "layout/show-grid.less";

 #desinax-hgrid.activateDefaultTypography();

 @fontFamilyHeadings: @fontFamilyLato;
 @fontFamilyBody:     @fontFamilyLato;
 @fontFamilyCode:     @fontFamilyLato;
