/**
 * Base style to affect HTML elements on a general scale.
 */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

html {
    overflow-y: scroll;
    background-image: radial-gradient(circle at center, @backgroundMidnight, @backgroundDark);
}

body {
    #desinax-hgrid.font(@fontSizeBody);
}

img {
    max-width: 100%;
    filter: @imgFilter;
}

.wrap-all {
    background-image: radial-gradient(circle at center, @backgroundMidnight, @backgroundDark);
}

.outer-wrap-footer {
    background-image: linear-gradient(to top, @backgroundGrey, @backgroundMidnight 20%);
}

.inner-wrap.inner-wrap-main {
    background-color: @mainBackground;
    color: @innerwrapColor;
    font-family: "Noto Sans", sans-serif;
}

.my-navbar,
.my-navbar ul {
    background-image: linear-gradient(to right, @backgroundGrey, @backgroundMidnight);
}

.rm-mobile {
    background-image: linear-gradient(to right, @backgroundDark, @backgroundMidnight);
}
