/**
 * Base style to affect HTML elements on a general scale.
 */

@import url('https://fonts.googleapis.com/css?family=Bitter|Noto+Sans');

html {
    overflow-y: scroll;
    background-image: radial-gradient(circle at center, @backgroundMidnight, @backgroundDark);
}

body {
    #desinax-hgrid.font(@fontSizeBody);
}

img {
    max-width: 100%;
    filter: grayscale(80%);
}

.wrap-all {
    background-image: radial-gradient(circle at center, @backgroundMidnight, @backgroundDark);
}

.outer-wrap-footer {
    background-image: linear-gradient(to top, @backgroundGrey, #313b45 20%);
}

.inner-wrap.inner-wrap-main {
    background-color: @backgroundGrey;
}

.my-navbar,
.my-navbar ul {
    background-image: linear-gradient(to right, @backgroundGrey, @backgroundMidnight);
}

.rm-mobile {
    background-image: linear-gradient(to right, @backgroundDark, @backgroundMidnight);
}
