.row {
    #desinax-vgrid.row();
    margin-bottom: 12px;
}

.inner-wrap {
    #desinax-vgrid.grid(1100px);
}

.inner-wrap-header {
    #desinax-vgrid.grid(100%);
}

.region-main {
    #desinax-vgrid.column(@columns * 3 / 4);
    #desinax-vgrid.push(2)

    &.has-sidebar {
        #desinax-vgrid.push(0);
    }

    &.has-sidebar-right {
        #desinax-vgrid.column(@columns * 3 / 4 - 1);
    }

    &.has-sidebar-left.has-sidebar-right {
        #desinax-vgrid.column(@columns - 10);
    }
}

.region-sidebar-right,
.region-sidebar-left {
    #desinax-vgrid.column(@columns * 1 / 4);
}

.region-sidebar-right {
    #desinax-vgrid.push(1);
}

.region-sidebar-left.has-sidebar-right,
.region-sidebar-right.has-sidebar-left {
    #desinax-vgrid.column(@columns * 1 / 4 - 1);
}

.region-flash-message {
    background-color: @backgroundGrey;
}

.region-breadcrumb {
    #desinax-vgrid.column(@columns);
    background-color: @backgroundGrey;
}


.region-header-col-1,
.region-header-col-3 {
    #desinax-vgrid.column(@columns);
    background-image: linear-gradient(to right, @backgroundGrey, @backgroundMidnight);
}

.region-header-col-2 {
    #desinax-vgrid.column(@columns);
}

.region-flash {
    #desinax-vgrid.column(@columns);
}

.site-footer {
    #desinax-vgrid.column(@columns);
}

.footer-column {
    #desinax-vgrid.column(@columns / 3);
    color: @backgroundGrey;
}


/**
 * General layout
 */

.next {
    float: right;
}

.previous {
    float: left;
}

.fas.fa-bars {
    color: white;
}


/* links and list */
li {
    list-style: none;
}

a {
    color: #4a69bd;
    text-decoration: none;
}

a:visited {
    color: #4a69bd;
}

a:hover {
    text-shadow: 1px 1px #a0a5a9;
}

* {
    box-sizing: border-box;
}


/* Responsive layout with grid */
@media screen and (max-width: 1000px) {
    .region-main {
        #desinax-vgrid.column(@columns);
    }
}

@media screen and (max-width: 850px) {
    .region-main {
        #desinax-vgrid.column(@columns);
    }

    .footer-column {
        #desinax-vgrid.column(@columns);
    }
}
